
---
- name: Check if Kubectl is installed.
  ansible.builtin.command: which kubectl
  failed_when: false
  changed_when: false
  check_mode: false
  register: kubectl_command_results

- name: Add an apt signing key for Kubernetes
  apt_key:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    state: present

- name: Adding apt repository for Kubernetes
  apt_repository:
    repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
    state: present
    filename: kubernetes.list

- name: Install Kubernetes binaries
  apt: 
    name: "kubectl"
    state: present
    update_cache: yes
  vars:
    packages:
      - kubectl
  when: kubectl_command_results.rc == 1

- name: Add serve alias for foo user
  lineinfile:
    # path=/{{ ansible_user }}/.bashrc
    path=/root/.bashrc
    line="alias k='kubectl'"
    owner={{ansible_user}}
    regexp='^alias k='kubectl'$'
    state=present
    insertafter=EOF
    create=True

# Setup auto complete
# echo "source <(kubectl completion bash)" >> ~/.bashrc
- name: Run Helm install Script.
  ansible.builtin.command: echo "source <(kubectl completion bash)" >> ~/.bashrc
  when: kubectl_command_results.rc == 1